* {
	margin: 0px;
	padding: 0px;
	
}

.header {
	font-family: 'Poppins', sans-serif;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.header h2 {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.Backhome img {
	width: 50px;
	height: 50px;
	padding: 5px;

	position: absolute;
		left: 0px;
		top:0px;
}

/* Product Names */ 

.prodnames {
	width: 100%;
	background-color: white;
	height: auto;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	z-index: 1;
}

.prodnames ul {
	list-style:none;
	display: inline-flex;
	justify-content: space-between;
	gap: 20px;
}