* {
	margin: 0px;
	padding: 0px;
	
}

.header {
	font-family: poppins;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header h2 {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.Backhome {
	width: 50px;
	height: 50px;
	padding: 5px;

	position: absolute;
		left: 0px;
}

/* Product Names */ 

.prodnames {
	width: 100%;
	display: flex;
	flex-direction: column;
}